html{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: #eee;
}

a{
    color: aliceblue;
}

a:visited{
    color: greenyellow;
}

a:hover, a:active{
    color: blue;
}

table, tr, th, td, caption{
    border: 1px solid #eee;
    font-family:'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}